html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

section {
  width: 40rem;
  max-width: 90%;
  margin: 3rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
}

section h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0;
  border: 1px solid #3d0258;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  font: inherit;
  background: #3d0258;
  color: white;
  border: 1px solid #3d0258;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #9435c0;
  border-color: #9435c0;
}
